VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_SHAREPOINT_SITE_URL=
VITE_AUTH_REDIRECT_URI=
VITE_AUTH_POST_LOGOUT_REDIRECT_URI=

APP_SESSION_SECRET=

PGHOST=
PGPORT=5432
PGDATABASE=
PGUSER=
PGPASSWORD=
PGSSLMODE=require

STORAGE_API_URL=
STORAGE_API_SECRET=
MAX_GASTO_ATTACHMENT_SIZE_MB=25
